{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Server</title>
</head>

<body>

    <div class="container">
        {% include 'includes/messages.html' %}
        <div class="jumbotron">
            <h1 class="display-4 text-center">Server Control Panel</h1>
            <p class="lead text-center">Status: {% if server_process %}Running{% else %}Stopped{% endif %}</p>
        </div>

        <!-- Clients Info -->
        <div class="clients-info">
            {% if connected_agents %}
                <div class="row">
                    <div class="col">
                        <h2>Connected Agents ({{ connected_agents|length }}):</h2>
                        <div class="accordion" id="connectedAgentsAccordion">
                            {% for agent_id, agent_info in connected_agents.items %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                        {{ agent_id }} 
                                        <span class="badge bg-primary rounded-pill ms-4">Connected</span>
                                    </button>
                                    </h2>
                                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <p>Username: {{ agent_info.username }}</p>
                                        <p>OS: {{ agent_info.os }}</p>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                          </div>    
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info" role="alert">
                            No agents connected
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Command Form -->
        <div class="command-form-container">
            {% if connected_agents and server_process is not None %}
                <div class="command-form">
                    <div class="row mt-4">
                        <div class="col">
                            <form method="post" action="{% url 'send_command' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="command" class="form-label">Enter command:</label>
                                    <input type="text" class="form-control" id="command" name="command" placeholder="Type your command here">
                                </div>
                                <button type="submit" class="btn btn-primary">Send Command</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row mt-4">
            <div class="col">
                {% if server_process is None %}
                    <form action="{% url 'start_server' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Start Server</button>
                    </form>
                {% else %}
                    <form action="{% url 'stop_server' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Stop Server</button>
                    </form>
                {% endif %}
            </div>
        </div>

        {% if command_responses %}
            <div>
                <div>Command Responses:</div>
                <div class="terminal-output">
                    {% if command_responses %}
                        <ul>
                            {% for client_address, directory_path in command_responses.items %}
                                <li><span class="command">{{ client_address }}:</span> <span class="directory">{{ directory_path }}</span></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No command responses available.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <!-- MY JS -->
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>    
    <script src="{% static 'assets/js/client.js' %}"></script>
</body>

</html>
